.control-main {
    background-color: #f8f8f8;
    border-bottom: 1px solid #c6c6c6;
    width: 300px;
}

.control-header {
    display: flex;
}

.control-header > div {
    flex: 1 1 auto;
}

.opacity-control {
    display: flex;
}

.opacity-control p{
    padding-right: 10px;
    margin: 0;
}

.color-control {
    display: flex;
}

.color-control p{
    padding-right: 10px;
    margin: 0;
}

.color-display {
    width: 20px;
    height: 20px;
}