header {
    padding: 0 10px;
    background-color: #638ee4;
}

header > div {
    margin: auto;
    max-width: 1600px;
    display: flex;
    align-items: center;
}

header h1 {
    color: #fff;
    margin: -4px 0 0 0;
    flex: 1 0 auto;
}