.App {
  min-height: 100vh;
  background-color: #dae1ff;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#canvas {
  height: 400px;
  width: 400px;
  border: 1px solid rgb(0, 0, 0) !important;
  margin: 15px;
}

.img-container {
  background-color: #f7f3f3;
  position: relative;
  height: 400px;
  width: 400px;
}

.img-container img,
.img-container svg{
  position: absolute;
  left: 0;
}

.action-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.control-container {
  background-color: #76a1f7;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #c6c6c6;
  margin-bottom: 20px;
}

.hide {
  display: none;
}

.button {
  background-color: #c6c6c6;
  display: inline;
  color: #000;
  padding: 5px;
  border-radius: 5px;
}

.button:not(:last-of-type) {
  margin-right: 5px;
}
