.App {
  min-height: 100vh;
  background-color: #dae1ff;
  display: flex;
  flex-direction: column;
}

.interface {
  display: flex;
  flex: 1 1 auto;
}

.img-container {
  background-color: #90afee;
  position: relative;
  height: 400px;
  width: 400px;
  border: 1px solid rgb(0, 0, 0) !important;
}

.img-container img,
.img-container svg{
  position: absolute;
  left: 0;
}

.control-container {
  text-align: center;
  background-color: #76a1f7;
  flex: 1 1 auto;
}