.App {
  min-height: 100vh;
  background-color: #dae1ff;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

#canvas {
  margin: 15px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.img-border {
  padding: 5px;
  background-color: #1b4960;
  border-radius: 5px;
}

.img-container {
  background-color: #f7f3f3;
  position: relative;
  width: 100%;
  /* aspect-ratio: 1920/1080; */
  aspect-ratio: 3046 / 2052;
}

.img-container img,
.img-container svg{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-pad {
  flex: 1 0 auto;
}

.action-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.control-container {
  background-color: #76a1f7;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #c6c6c6;
  margin-bottom: 20px;
}

.hide {
  display: none;
}

.button {
  background-color: #c6c6c6;
  display: inline;
  color: #000;
  padding: 5px;
  border-radius: 5px;
}

.button:not(:last-of-type) {
  margin-right: 5px;
}
